/target/maven-status/maven-compiler-plugin/compile/default-compile

/target/classes/com/niepengfei/springmvc

/target/tomcat/conf
/target/tomcat/logs

/.idea
/1999-log4j/target/classes
/2002-2-jul/target/classes
